processes/import-jaxb-periodical/src/main/resources/Periodical.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Periodical">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UniqueIdentifier" minOccurs="0"/>
				<xs:element ref="PeriodicalOwner" maxOccurs="unbounded"/>
				<xs:element ref="CoreBibliographicDescriptionPeriodical"/>
				<xs:element ref="DescriptionBasedIssue" minOccurs="0"/>
				<xs:element ref="ISSN"/>
				<xs:element ref="Periodicity" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="RegularSupplement" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SpecialSupplement" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PeriodicalVolume" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="TechnicalDescription"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PeriodicalOwner">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Library"/>
				<xs:element ref="ShelfNumber" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UniqueIdentifier">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UniqueIdentifierURNType" minOccurs="0"/>
				<xs:element ref="UniqueIdentifierSICIType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UniqueIdentifierURNType">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="UniqueIdentifierSICIType">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Library">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShelfNumber">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CoreBibliographicDescriptionPeriodical">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Title" minOccurs="0"/>
				<xs:element ref="Creator" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Contributor" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="GMD" minOccurs="0"/>
				<xs:element ref="Publisher" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Printer" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PhysicalDescription" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Series" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Language" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Subject" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Keyword" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Accessibility" minOccurs="0"/>
				<xs:element ref="Notes" minOccurs="0"/>
				<xs:element ref="Annotation" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Title">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence maxOccurs="unbounded">
					<xs:element ref="MainTitle"/>
					<xs:element ref="SubTitle" minOccurs="0"/>
					<xs:element ref="ParallelTitle" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="SortingTitle" minOccurs="0"/>
				<xs:element ref="KeyTitle" minOccurs="0"/>
				<xs:element ref="Coden" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MainTitle">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SubTitle">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParallelTitle">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SortingTitle">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="KeyTitle">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Coden">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Creator">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CreatorSurname"/>
				<xs:element ref="CreatorName" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Role" default="Author">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="BibliographicAntecedent"/>
						<xs:enumeration value="DubiousAuthor"/>
						<xs:enumeration value="MetalEngraver"/>
						<xs:enumeration value="Originator"/>
						<xs:enumeration value="FilmEditor"/>
						<xs:enumeration value="Illuminator"/>
						<xs:enumeration value="Commentator"/>
						<xs:enumeration value="Typographer"/>
						<xs:enumeration value="Dedicatee"/>
						<xs:enumeration value="Engraver"/>
						<xs:enumeration value="Recipient"/>
						<xs:enumeration value="Lyricist"/>
						<xs:enumeration value="Illustrator"/>
						<xs:enumeration value="Interviewer"/>
						<xs:enumeration value="Librettist"/>
						<xs:enumeration value="WoodEngraver"/>
						<xs:enumeration value="AuthorOfScreenplay"/>
						<xs:enumeration value="Scenarist"/>
						<xs:enumeration value="GraphicTechnician"/>
						<xs:enumeration value="Editor"/>
						<xs:enumeration value="Translator"/>
						<xs:enumeration value="Performer"/>
						<xs:enumeration value="Dedicator"/>
						<xs:enumeration value="Rubricator"/>
						<xs:enumeration value="TypeDesigner"/>
						<xs:enumeration value="Assignee"/>
						<xs:enumeration value="Other"/>
						<xs:enumeration value="Litographer"/>
						<xs:enumeration value="Artist"/>
						<xs:enumeration value="Interviewee"/>
						<xs:enumeration value="Annotator"/>
						<xs:enumeration value="Composer"/>
						<xs:enumeration value="Photographer"/>
						<xs:enumeration value="Cartographer"/>
						<xs:enumeration value="Author"/>
						<xs:enumeration value="EditorInChief"/>
						<xs:enumeration value="Compiler"/>
						<xs:enumeration value="Etcher"/>
						<xs:enumeration value="Secretary"/>
						<xs:enumeration value="Honoree"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreatorSurname">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreatorName">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Contributor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ContributorSurname"/>
				<xs:element ref="ContributorName" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Role" default="Editor">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="BibliographicAntecedent"/>
						<xs:enumeration value="DubiousAuthor"/>
						<xs:enumeration value="MetalEngraver"/>
						<xs:enumeration value="Originator"/>
						<xs:enumeration value="FilmEditor"/>
						<xs:enumeration value="Illuminator"/>
						<xs:enumeration value="Commentator"/>
						<xs:enumeration value="Typographer"/>
						<xs:enumeration value="Dedicatee"/>
						<xs:enumeration value="Engraver"/>
						<xs:enumeration value="Recipient"/>
						<xs:enumeration value="Lyricist"/>
						<xs:enumeration value="Illustrator"/>
						<xs:enumeration value="Interviewer"/>
						<xs:enumeration value="Librettist"/>
						<xs:enumeration value="WoodEngraver"/>
						<xs:enumeration value="AuthorOfScreenplay"/>
						<xs:enumeration value="Scenarist"/>
						<xs:enumeration value="GraphicTechnician"/>
						<xs:enumeration value="Editor"/>
						<xs:enumeration value="Translator"/>
						<xs:enumeration value="Performer"/>
						<xs:enumeration value="Dedicator"/>
						<xs:enumeration value="Rubricator"/>
						<xs:enumeration value="TypeDesigner"/>
						<xs:enumeration value="Assignee"/>
						<xs:enumeration value="Other"/>
						<xs:enumeration value="Litographer"/>
						<xs:enumeration value="Artist"/>
						<xs:enumeration value="Interviewee"/>
						<xs:enumeration value="Annotator"/>
						<xs:enumeration value="Composer"/>
						<xs:enumeration value="Photographer"/>
						<xs:enumeration value="Cartographer"/>
						<xs:enumeration value="Author"/>
						<xs:enumeration value="Compiler"/>
						<xs:enumeration value="Etcher"/>
						<xs:enumeration value="Secretary"/>
						<xs:enumeration value="Honoree"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContributorSurname">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ContributorName">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="GMD">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Publisher">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PlaceOfPublication" minOccurs="0"/>
				<xs:element ref="PublisherName"/>
				<xs:element ref="DateOfPublication"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlaceOfPublication">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PublisherName">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DateOfPublication">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Printer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PlaceOfPrinting" minOccurs="0"/>
				<xs:element ref="PrinterName" minOccurs="0"/>
				<xs:element ref="DateOfPrinting" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlaceOfPrinting">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PrinterName">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DateOfPrinting">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PhysicalDescription">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Size"/>
				<xs:element ref="Extent" minOccurs="0"/>
				<xs:element ref="Technique" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Size">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Extent">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Technique">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Series">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Language">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Subject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UDC"/>
				<xs:element ref="DDC"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UDC">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DDC">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Keyword">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Accessibility">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Notes">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Annotation">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DescriptionBasedIssue">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ISSN">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Periodicity">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RegularSupplement">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpecialSupplement">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ScanningDevice">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ScanningParameters">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="OtherImagingInformation">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PeriodicalVolume">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UniqueIdentifier" minOccurs="0"/>
				<xs:element ref="PeriodicalVolumeIdentification"/>
				<xs:element ref="CoreBibliographicDescriptionPeriodical" minOccurs="0"/>
				<xs:element ref="PeriodicalInternalComponentPart" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PeriodicalPage" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PeriodicalItem" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="TechnicalDescription" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PeriodicalVolumeIdentification">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PeriodicalVolumeNumber" minOccurs="0"/>
				<xs:element ref="PeriodicalVolumeNumberSorting" minOccurs="0"/>
				<xs:element ref="PeriodicalVolumeDate"/>
				<xs:element ref="Defects" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PeriodicalVolumeNumber">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PeriodicalVolumeNumberSorting">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PeriodicalVolumeDate">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Defects">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PeriodicalInternalComponentPart">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UniqueIdentifier" minOccurs="0"/>
				<xs:element ref="CoreBibliographicDescriptionPeriodical" minOccurs="0"/>
				<xs:element ref="InternalComponentPartIdNumber" minOccurs="0"/>
				<xs:element ref="PageReference" minOccurs="0"/>
				<xs:element ref="PageNumber"/>
				<xs:element ref="Pages" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Type" default="Article">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Figure"/>
						<xs:enumeration value="Abstract"/>
						<xs:enumeration value="Introduction"/>
						<xs:enumeration value="Reviews"/>
						<xs:enumeration value="Dedication"/>
						<xs:enumeration value="Chapter"/>
						<xs:enumeration value="Article"/>
						<xs:enumeration value="Table"/>
						<xs:enumeration value="Illustration"/>
						<xs:enumeration value="OtherNote"/>
						<xs:enumeration value="Remark"/>
						<xs:enumeration value="Photograph"/>
						<xs:enumeration value="Bibliography"/>
						<xs:enumeration value="Obituary"/>
						<xs:enumeration value="Map"/>
						<xs:enumeration value="TechnicalPlanScheme"/>
						<xs:enumeration value="Debate"/>
						<xs:enumeration value="OtherDocStrct"/>
						<xs:enumeration value="EditorsNote"/>
						<xs:enumeration value="Contributors"/>
						<xs:enumeration value="Preface"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="InternalComponentPartIdNumber">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PageReference">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PeriodicalPage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UniqueIdentifier" minOccurs="0"/>
				<xs:element ref="PageNumber" maxOccurs="unbounded"/>
				<xs:element ref="Notes" minOccurs="0"/>
				<xs:element ref="PageRepresentation" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Type" default="NormalPage">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ListOfIllustrations"/>
						<xs:enumeration value="TableOfContents"/>
						<xs:enumeration value="Index"/>
						<xs:enumeration value="Table"/>
						<xs:enumeration value="TitlePage"/>
						<xs:enumeration value="ListOfMaps"/>
						<xs:enumeration value="NormalPage"/>
						<xs:enumeration value="Blank"/>
						<xs:enumeration value="ListOfTables"/>
						<xs:enumeration value="Advertisement"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Index" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PageNumber">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PageRepresentation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UniqueIdentifier" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="PageImage"/>
					<xs:element ref="PageText"/>
				</xs:choice>
				<xs:element ref="TechnicalDescription" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PageImage">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="href" use="required" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PageText">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="href" use="required" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Pages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PageIndex" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PageIndex">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="From" use="required" type="xs:string"/>
					<xs:attribute name="To" use="required" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PeriodicalItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UniqueIdentifier" minOccurs="0"/>
				<xs:element ref="PeriodicalItemIdentification"/>
				<xs:element ref="CoreBibliographicDescriptionPeriodical" minOccurs="0"/>
				<xs:element ref="ItemRepresentation" minOccurs="0"/>
				<xs:element ref="PeriodicalInternalComponentPart" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PeriodicalPage" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Type" default="PeriodicalIssue">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="PeriodicalSupplement"/>
						<xs:enumeration value="Appendix"/>
						<xs:enumeration value="PeriodicalOtherItem"/>
						<xs:enumeration value="PeriodicalIssue"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PeriodicalItemIdentification">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PeriodicalItemNumber" minOccurs="0"/>
				<xs:element ref="PeriodicalItemNumberSorting" minOccurs="0"/>
				<xs:element ref="PeriodicalItemDate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PeriodicalItemNumber">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PeriodicalItemNumberSorting">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PeriodicalItemDate">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ItemRepresentation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UniqueIdentifier" minOccurs="0"/>
				<xs:choice>
					<xs:element ref="ItemImage"/>
					<xs:element ref="ItemText"/>
				</xs:choice>
				<xs:element ref="TechnicalDescription" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ItemImage">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="href" use="required" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ItemText">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="href" use="required" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="TechnicalDescription">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ScanningDevice"/>
				<xs:element ref="ScanningParameters" minOccurs="0"/>
				<xs:element ref="OtherImagingInformation" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>